// start .headerBlock
.headerBlock {
	// --sPT: #{rem()};
	--sPB: #{rem(46)};
	// --sTPB: #{rem()}; 
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	
	position: relative;
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(30)};
    margin-bottom: rem(40);
    @include media-breakpoint-up(xxl) {
      margin-bottom: 0;
    }
	}

  &__sub-text {
    font-size: rem(30);
    margin-bottom: rem(33);
  }
  ul {
    margin-left: rem(20);
    margin-bottom: rem(48);
  }
  li {
    margin-bottom: rem(18);
  }
  .logo {
    max-width: 100%;
  }

  &__img-wrap {
    text-align: right;
  }

  .img-girl {
    max-width: 100%;
    width: rem(350);
    @include media-breakpoint-up(xl) {
      // transform: translateY(-10%);
      margin-top: -15%;
    }

    @include media-breakpoint-down(xl) {
      transform: translateY(10%);
    }

    @include media-breakpoint-up(lg) {
    width: auto;
    }
  }

  .im-bg {
    position: absolute;
    top: 0;
    left: 43vw;
    max-width: 70vw;
    z-index: -1;
  }
  .im-bg2 {
    position: absolute;
    bottom: 0;
    right: 63vw;
    max-width: 90vw;
    z-index: -1;
  }

  &__inner-wrapper {
    position: relative;
    z-index: 1;
    background: $white;
    border-radius: rem(60);
    padding: rem(20);
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    @include media-breakpoint-up(lg) {
      padding: rem(55) rem(38) rem(70) rem(52);
    }

    @include media-breakpoint-up(xl) {
      margin-top: rem(-86);
    }

    ul {
      margin-top: rem(20);
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
      max-width: calc(100% - 200px);
      }
    }

  }

  &__inner-title {
    margin-bottom: rem(52);
  }

  &__icons-row {
		--bs-gutter-x: #{rem(0)};
    border-bottom: 2px solid  #f3f3f3;
    padding-bottom: rem(40);
    margin-bottom: rem(40);
  }

  .star-bg {
    width: rem(110);
    @include media-breakpoint-up(lg) {
      width: auto;
      position: absolute;
      right: rem(14);
      bottom: rem(14);
      z-index: -1;
    }
  }

  .star-wrap {
    text-align: right;
  }

  .item {
    display: flex;
    gap: rem(14);
    align-items: center;

    img {
      max-width: 100%;
      @include media-breakpoint-down(xl) {
        transform: translateY(-4px);
      }
    }

    &__img-wrap {
      width: rem(90);
      @include media-breakpoint-down(md) {
        width: rem(60);
        flex-shrink: 0;
      }
    }

    &__text {
      font-size: rem(20);
      @include media-breakpoint-up(md) {
        font-size: rem(25);
      }
    }
  }

}

.list_colored {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0 !important;

  &_green span {
    background: $green;
    color: $gray-900;
  }

  &_purple span {
    background: $purple;
    color: $white;
  }

  span {
    flex-shrink: 0;
    border-radius: rem(18) rem(4) rem(4) rem(4);
    text-align: end;
    display: inline-block;
    padding-right: rem(6);
    width: rem(42);
    height: rem(28);
    font-weight: 700;
    font-size: rem(20);
    @include media-breakpoint-up(lg) {
      font-size: rem(35);
      width: rem(72);
      height: rem(42);
    }
  }

  li {
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-bottom: rem(6);
    @include media-breakpoint-down(lg) {
      font-size: rem(18);
    }
  }
}

// end.headerBlock