mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-xl-auto.z
					+e.logo(href="/")
						+img('img/svg/logo.svg').img-1
						+img('img/svg/rosmol.svg').img-2.d-none.d-lg-inline
				+e.col.col-auto.col-xl.order-xl-0.order-last
					.menu-mobile.menu-mobile--js.ms-auto
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
				.col-auto.d-xl-none.ms-auto
					+menu-toggle()
	// end top-nav