.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		// }

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

  @include media-breakpoint-up(lg) {
    margin-left: rem(-62);
  }

	&__logo {
		display: inline-block;
    // max-width: 70%;
	}
  .z, .menu {
    position: relative;
    z-index: 4;
  }

	padding-top: rem(22);
  .img-1 {
    width: rem(248);
    max-width: 100%;
    margin-right: rem(40);
  }
  .img-2 {
    width: rem(282);
    max-width: 100%;
    margin-top: rem(9);
  }
  &__col {
		@include media-breakpoint-down(lg) {
			padding: 0;
			margin: 0;
		}
	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


