mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Часто задаваемые вопросы:
			+ddGroup
				+ddGroupItem('Участие в проекте платное?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Какие критерии отбора?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Какие категории?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Как узнать, что я прошёл отбор?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Кто приглашённые предприниматели?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Какие направления бизнеса будут?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Чем мне будет полезно участие в проекте?')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
				+ddGroupItem('Смогут ли предприниматели стать моими наставниками?', 'active')
					p Возможно, для этого достаточно обратиться к ним после мероприятия с запросом
			.text-center: +e.btn.btn.btn-light.btn-light_orange(href='#') Подать заявку
			+img('img/svg/zig-zag-update.svg').zig-zag
	// end sFAQ